<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
</head>

<body>
    <div class="container">
     <h2>How do boys and girls perform across states?</h2>

     <div class="row">
         <div class="col-md-6 center-block">
           <h3>Boys StateWise Performance</h3>
             {{boy_fig|safe }}
         </div>
         <div class="col-md-6">
           <h3>Girl StateWise Performance</h3>
           {{ girl_fig|safe }}
             
         </div>
     </div>
        
            <div class="row center-block text-center">
                <div class="col-md-6 center-block">
                <h5>AN  Andaman  Nicobar</h5>
                <h5>AP  Andhra Pradesh</h5>
                <h5>AR  Arunachal Pradesh</h5>
                <h5>BR  Bihar</h5>
                <h5>CG  Chattisgarh</h5>
                <h5>CH  Chandigarh</h5>
                <h5>DD  Daman  Diu</h5>
                <h5>DL  Delhi</h5>
                <h5>DN  Dadra  Nagar Haveli</h5>
                <h5>GA  Goa</h5>
                <h5>GJ  Gujarat</h5>
                <h5>HP  Himachal Pradesh</h5>
                <h5>HR  Haryana</h5>
                <h5>JH  Jharkhand</h5>
                <h5>JK  Jammu  Kashmir</h5>
                <h5>KA  Karnataka</h5>
                
            </div>
            <div class="col-md-6 center-block text-center">
                <h5>KL  Kerala</h5>
                <h5>MG  Meghalaya</h5>
                <h5>MH  Maharashtra</h5>
                <h5>MN  Manipur</h5>
                <h5>MP  Madhya Pradesh</h5>
                <h5>MZ  Mizoram</h5>
                <h5>NG  Nagaland</h5>
                <h5>OR  Orissa</h5>
                <h5>PB  Punjab</h5>
                <h5>PY  Pondicherry</h5>
                <h5>RJ  Rajasthan</h5>
                <h5>SK  Sikkim</h5>
                <h5>TN  Tamil Nadu</h5>
                <h5>TR  Tripura</h5>
                <h5>UK  Uttarakhand</h5>
                <h5>UP  Uttar Pradesh</h5>
                <h5>WB  West Bengal</h5>
                </div>
            </div>
        
    </div>
</body>

</html>