<!DOCTYPE html>

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
</head>

<body>
    <div class="container">
     <h2>What influences students performance the most?</h2>
            <div class="row">
                <div class="col-md-6 center-block">
                
                    {{fatheredu_fig|safe }}
                </div>
                <div class="col-md-6">
          
                  {{ motheredu_fig|safe }}
                    
                </div>
               <div class="col-md-6">
        
                 {{ fatheroccu_fig|safe }}
                   
               </div>
                <div class="col-md-6">

                  {{ motheroccu_fig|safe }}
                    
                </div>
            </div>
        
    </div>
</body>

</html>